body {
  margin: 20px;
}
.result-search {
  color: #0C4376;
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-family: "Cormorant Garamond", sans-serif;
  color: #0C4376;
  font-weight: 700;
  font-size: 54px;
}

.h100vh {
  min-height:calc(100vh - 140px);
}
