<div class="footer-container">
  <div class="d-flex">
    <%= link_to "Charlou's •", root_path, class: 'navbar-brand logo' %>
  </div>
  <div class="d-flex footer-link">
    © <%= Time.now.year %> conception <%= link_to "Charles Woehl", '#', class: 'footer-link' %>
  </div>
</div>
