<div class="footer-container">
  <div class="d-flex footer-link">
    <%= link_to "A propos", a_propos_path, class: 'footer-link' %>
  </div>
  <div class="d-flex footer-link">
    © <%= Time.now.year %> conception <%= link_to "Charles Woehl", 'https://www.charleswoehl.fr', class: 'footer-link', target: '_blank' %>  </div>
</div>
