<div class="pic-home-100" style="background-image:
  url(
    https://images.pexels.com/photos/6287251/pexels-photo-6287251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
  )">
</div>
<div class="row align-items-center">
  <div class="col-lg-6  title-category-show">charlou's •</div>
  <div class="col-lg-6 description-title-category">
    Passionné de cuisine depuis des années, retrouvez ici mon petit pense bête des recettes accumulées au fil des années.
  </div>
</div>
