<div class="row align-items-top p-40">
  <div class="col-lg-6  title-category-show"><%= @category.name %></div>
  <div class="col-lg-6 description-title-category"><%= @category.description %></div>
</div>
<!--
  <div class="pic-category-show" style="background-image: url(<%= cl_image_path @category.photo.key %>)">
-->
</div>

<%# listing %>
<%= render "shared/card-category" %>
