<div class="row align-items-center p-40">
  <div class="col-lg-6  title-category-show"><%= @category.name %></div>
  <div class="col-lg-6 description-title-category"><%= @category.description %></div>
</div>

</div>

<%# listing %>
<%= render "shared/card-category" %>
